<%= render "shared/header" %>


<div class="comics">
<div class="show">
  <div class="show_title">
  <%= @comic.title %>
  </div>
  <%= image_tag @comic.image, class:"image" %>
  <%= @comic.introduction %>
</div>

<% if user_signed_in? && current_user.id == 1 %>
  <div class="prototype__manage">
    <%= link_to "編集する", edit_comic_path(@comic.id), class: :prototype__btn %>
    <%= link_to "削除する", comic_path(@comic.id), class: :prototype__btn, method: :delete %>    
  </div>
<% end %>

<div class="show_ic_btn">
<%= link_to "漫画一覧に戻る", '/comics', class: :comic_index_btn %>
</div>

</div>

<%= render "shared/footer" %>